# ~/.config/dwmterm/colors.example
# Copy this file to ~/.config/dwmterm/colors to enable static color overrides.
# Note: creating ~/.config/dwmterm/colors takes priority over system desktop themes.

background   = #000000
foreground   = #E5E5E5
selection    = #444444
selection_fg = #FFFFFF

# 16-Color ANSI Palette (Standard Xterm)
color0  = #000000
color1  = #CD0000
color2  = #00CD00
color3  = #CDCD00
color4  = #0000EE
color5  = #CD00CD
color6  = #00CDCD
color7  = #E5E5E5
color8  = #7F7F7F
color9  = #FF0000
color10 = #00FF00
color11 = #FFFF00
color12 = #5C5CFF
color13 = #FF00FF
color14 = #00FFFF
color15 = #FFFFFF
